.navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #344e41;
  padding-top: 20px;
}

.navbar h3 {
  color: #dad7cd;
}

.navbar a {
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  padding-left: 20px;
  color: #dad7cd;
  display: block;
  text-align: justify;
}

.navbar img {
  height: 10%;
  margin-right: 5px;
}

.active-product {
  background-color: #dad7cd;
  color: black;
}

.active-product a {
  color: black;
}

.logout-button {
  display: block;
  text-align: justify;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  padding-left: 20px;
  color: #dad7cd;
}
